ComprehensibleInput.Application/obj/ComprehensibleInput.Application.csproj.nuget.dgspec.json
ComprehensibleInput.Application/obj/ComprehensibleInput.Application.csproj.nuget.g.props
ComprehensibleInput.Application/obj/ComprehensibleInput.Application.csproj.nuget.g.targets
ComprehensibleInput.Application/obj/project.assets.json
ComprehensibleInput.Application/obj/project.nuget.cache
ComprehensibleInput.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ComprehensibleInput.Application/obj/Debug/net8.0/ComprehensibleInput.Application.AssemblyInfo.cs
ComprehensibleInput.Application/obj/Debug/net8.0/ComprehensibleInput.Application.AssemblyInfoInputs.cache
ComprehensibleInput.Application/obj/Debug/net8.0/ComprehensibleInput.Application.assets.cache
ComprehensibleInput.Application/obj/Debug/net8.0/ComprehensibleInput.Application.GeneratedMSBuildEditorConfig.editorconfig
ComprehensibleInput.Application/obj/Debug/net8.0/ComprehensibleInput.Application.GlobalUsings.g.cs
ComprehensibleInput.Domain/obj/ComprehensibleInput.Domain.csproj.nuget.dgspec.json
ComprehensibleInput.Domain/obj/ComprehensibleInput.Domain.csproj.nuget.g.props
ComprehensibleInput.Domain/obj/ComprehensibleInput.Domain.csproj.nuget.g.targets
ComprehensibleInput.Domain/obj/project.assets.json
ComprehensibleInput.Domain/obj/project.nuget.cache
ComprehensibleInput.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ComprehensibleInput.Domain/obj/Debug/net8.0/ComprehensibleInput.Domain.AssemblyInfo.cs
ComprehensibleInput.Domain/obj/Debug/net8.0/ComprehensibleInput.Domain.AssemblyInfoInputs.cache
ComprehensibleInput.Domain/obj/Debug/net8.0/ComprehensibleInput.Domain.assets.cache
ComprehensibleInput.Domain/obj/Debug/net8.0/ComprehensibleInput.Domain.GeneratedMSBuildEditorConfig.editorconfig
ComprehensibleInput.Domain/obj/Debug/net8.0/ComprehensibleInput.Domain.GlobalUsings.g.cs
ComprehensibleInput.Infrastructure/obj/ComprehensibleInput.Infrastructure.csproj.nuget.dgspec.json
ComprehensibleInput.Infrastructure/obj/ComprehensibleInput.Infrastructure.csproj.nuget.g.props
ComprehensibleInput.Infrastructure/obj/ComprehensibleInput.Infrastructure.csproj.nuget.g.targets
ComprehensibleInput.Infrastructure/obj/project.assets.json
ComprehensibleInput.Infrastructure/obj/project.nuget.cache
ComprehensibleInput.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ComprehensibleInput.Infrastructure/obj/Debug/net8.0/ComprehensibleInput.Infrastructure.AssemblyInfo.cs
ComprehensibleInput.Infrastructure/obj/Debug/net8.0/ComprehensibleInput.Infrastructure.AssemblyInfoInputs.cache
ComprehensibleInput.Infrastructure/obj/Debug/net8.0/ComprehensibleInput.Infrastructure.assets.cache
ComprehensibleInput.Infrastructure/obj/Debug/net8.0/ComprehensibleInput.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
ComprehensibleInput.Infrastructure/obj/Debug/net8.0/ComprehensibleInput.Infrastructure.GlobalUsings.g.cs
ComprehensibleInput.Website/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ComprehensibleInput.Website/obj/Debug/net8.0/ComprehensibleInput.Website.AssemblyInfo.cs
ComprehensibleInput.Website/obj/Debug/net8.0/ComprehensibleInput.Website.AssemblyInfoInputs.cache
ComprehensibleInput.Website/obj/Debug/net8.0/ComprehensibleInput.Website.assets.cache
ComprehensibleInput.Website/obj/Debug/net8.0/ComprehensibleInput.Website.GeneratedMSBuildEditorConfig.editorconfig
ComprehensibleInput.Website/obj/Debug/net8.0/ComprehensibleInput.Website.GlobalUsings.g.cs
ComprehensibleInput.Website/obj/Debug/net8.0/project.razor.vscode.bin
ComprehensibleInput.Website/obj/ComprehensibleInput.Website.csproj.nuget.dgspec.json
ComprehensibleInput.Website/obj/ComprehensibleInput.Website.csproj.nuget.g.props
ComprehensibleInput.Website/obj/ComprehensibleInput.Website.csproj.nuget.g.targets
ComprehensibleInput.Website/obj/project.assets.json
ComprehensibleInput.Website/obj/project.nuget.cache
